{{> head }}
<div class="container full">
    <div class="row-fluid full">
        <div class="span12 full">
            <div class="hero-unit center">
                <h1>Создать Bitcoin кошелек.</h1>
                <p>Эй, парень, хочешь немного биткоинов? Тогда сперва создай кошелек у нас!</p>
                <p>
                    <button class="btn btn-primary btn-large" id="addWallet">Создать кошелек</button>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
       $("#addWallet").click(function () {
           $.ajax({
               type: "POST",
               url: "/newwallet",
               success: function (d) {
                   if (d.success) {
                       var addr = d.addr;
                       document.location.href = "/wallet/" + addr;   
                   }
               }
           })  
       });
    });
</script>
{{> footer }}