{{> head }}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h2>Привет, это твой кошелек!</h2>
            <hr />
            <h4>Твой баланс: <span id="balance">{{ balance }}</span>฿</h4>
            <p>Для того, чтобы пополнить свой кошелек биткоинами, просто отправь их по этому адресу:</p>
            <input type="text" value="{{ wallet }}" id="wallet" readonly/>
            <button class="btn btn-info" id="refreshBalance">Обновить баланс</button>
            <a href="http://unlockit.me" class="btn btn-primary">А может лучше поиграешь в нашу игрушку?</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h2>Отправь свои биткоины кому-нибудь :)</h2>
            <hr />
            <input type="text" value="" id="amount" placeholder="Сумма для отправки в ฿" />
            <input type="text" value="" id="addr" placeholder="Адрес для отправки" />
            <div class="alert alert-error" id="sendError" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Ошибка!</strong> Невозможно отправить биткоины! Проверьте правильность введенных данных!
            </div>
            <div class="alert alert-success" id="sendSuccess" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Успех!</strong> Биткоины отправлены, поздравляю!
            </div>
            <button class="btn btn-primary" id="sendBitcoin">Отправить биткоины!</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h2>Последние транзакции</h2>
            <table class="table">
                <tr>
                    <td>Дата:</td>
                    <td>Категория:</td>
                    <td>Кол. подтверждений:</td>
                    <td>Сумма:</td>
                    <td>ID транзакции:</td>
                </tr>
                {{#if transactions.length}}
                {{#each transactions}}
                <tr>
                    <td>{{ time }}</td>
                    <td>{{ category }}</td>
                    <td>{{ confirmations }}</td>
                    <td>{{ amount }}฿</td>
                    <td>{{ txid }}</td>
                </tr>
                {{/each}}
                {{else}}
                    <td colspan='5' style='text-align: center;'>Нет данных</td>
                {{/if}}
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
       $("#refreshBalance").click(function () {
          $.ajax({
             type: "POST",
             url: "/getbalance",
             data : { wallet : $("#wallet").val() },
             success: function (e) {
                 if (e.success) {
                     $("#balance").text(e.balance);
                 }
             } 
          });
       });
       
       $("#sendBitcoin").click(function () {
           var amount = $("#amount").val();
           var addr = $("#addr").val();
           var balance = $("#balance").text();
           var wallet = $("#wallet").val();
           amount = parseFloat(amount);
           balance = parseFloat(balance);
           
           if (isNaN(amount) || balance < amount) {
               $("#sendError").show();
           }
           else {
               $.ajax({
                   type: "POST",
                   url: "/sendBitcoin",
                   data: { addr : addr, wallet : wallet, amount : amount },
                   success : function (e) {
                       if (e.success) {
                           $("#sendSuccess").show();
                       } else {
                           $("#sendError").show();
                       }
                   }
               })
           }
       });
    });
</script>
{{> footer }}
